body {
  text-transform: uppercase;
}

#p1 {
  font-family: "Comic Sans MS";
  float: right;
}

#p2 {
  font-family: "Arial";
  border: 5px dotted;
}

img {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
}

#ponyville {
  background-image: url(https://vignette.wikia.nocookie.net/mlp/images/0/04/Frame_of_empty_Ponyville_street_S1E20.png/revision/latest?cb=20130711202024);
  width: 1280px;
  height: 720px;
  position: relative;
  background-size: cover;
}

#ponyville h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
}
